<div class="splash">
  <div class="splash_title">
    Financial Life!
  </div>
  <div class="splash_btns">
    <div class="splash_login proxima_light_font">
      <%= link_to 'LOG IN', new_user_session_path %>
    </div>
    <div class="splash_signup proxima_light_font">
      <%= link_to 'SIGN UP', new_user_registration_path %>
    </div>
  </div>
</div>