<div>
  This is the categories page!
  <% @categories.each do |item| %>
    <% @regs = item.group_entities %>
    <% @total_category = 0 %>
    <% @regs.each do |reg| %>
      <% @total_category += Entity.find(reg.entity_id).amount %>
    <% end %>
    <%= render partial: 'categories/category', locals: { category: item, amount: @total_category } %>
  <% end %>
  <%= link_to 'Create New Category', new_category_path %>
</div>
